@import url("./_employees.css");
@import url("./_actions.css");
@import url("./_navbar.css");
@import url("./_leave.css");
@import url("./_loadSpinner.css");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
